*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../img-milestone2/page-bg.png");
}

/* utility del contenitore totale*/
#total-container{
  width: 1200px;
  height: 2000px;  /* cmd temp */
  margin: 0 auto;
  background-image: url("../img-milestone2/page-bg.png");

  border: 1px solid black; /*cmd temp */
}

/* utility dei container principali */
#head-container{
  width: 1200px;
  padding-top: 30px;

}

.head-content{
  width: 100%;
  height:400px;
  background-color: yellow;


}

.main-container{
  width: 1200px;
  padding: 10px 0px;
}

/* clear fix del main contaier per impedire lo spostamento causato dai float interni */
.main-clearfix::after{
  content: "";
  display: table;
  clear: both;
}


.container-sx{
  width: 300px;
}

.container-center{
  width: 600px;
  padding: 0px 10px;
}

.container-dx{
  width: 300px;
}

.float-L{
  float: left;
}

/* creazione contenuto della head */
#head-container>.bg-img-head{
  background-image: url("../img-milestone2/header-bg.png");
  border: 10px solid rgb(255, 255, 255);
}

div.head-content div.head-title-img:first-child{
  width: 450px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../img-milestone2/header-title.png");
  background-size: cover;
}
.head-content{
  padding: 100px;
}
/* creazione navbar sotto l' head-img */


nav{
  width: 1200px;
  height: 80px;

  background-color: rgb(102, 102, 102);
}

/* creazione e posizionamento quadrato lato sx */
.container-sx :first-child{
  height:300px;
  background-color: violet;
}

.container-center :first-child{
  background-color: rgb(255, 255, 255);
}

.container-dx :first-child{
  width: 100%;
}

.container-dx :nth-child(2){
  width: 100%;

}

.rectangle{
  width: 100%;
  height: 200px;
  background-color: violet;
}

.box1{
  padding-bottom: 10px;
}

/* inserimento contenuti header */




/* posizionamento del testo nel box centrale */
.square-big{
  padding: 20px;
}

.square-big>h2{
  padding-bottom: 30px;
}

.square-big> p{
  line-height: 40px;
  font-size: 20px;
}
/* utility footer */

#footer-container{
  width:1200px;
  height: 100px;
}

#footer-container div:first-child{
  width: 100%;
  height: 100%;
  background-color: lightblue;
}
