/* css reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* img background qualora il monitor fosse superiore a 1200px */

body{
  background-image: url("../img-milestone2/page-bg.png");
}

/* utility del contenitore totale*/
#total-container{
  width: 1200px;
  height: 2000px;  /* cmd temp */
  margin: 0 auto;
  background-image: url("../img-milestone2/page-bg.png");

}

/* utility head container */
#head-container{
  width: 1200px;
  padding-top: 30px;

}

.head-content{
  width: 100%;
  height:400px;
}

.main-container{
  width: 1200px;
  padding: 10px 0px;
}

/* clear fix del main contaier per impedire lo spostamento causato dai float interni */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* utility container sinistro, centro e destra */
.container-sx{
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

}

.container-center{
  width: 800px;
  padding: 0 80px;
}

.container-dx{
  width: 200px;
}

/* utility float position */
.float-L{
  float: left;
}


/* contenuto della head */
#head-container>.bg-img-head{
  background-image: url("../img-milestone2/header-bg.png");
  background-size: cover;
  border: 10px solid rgb(255, 255, 255);
}

div.head-content div.head-title-img:first-child{
  width: 450px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../img-milestone2/header-title.png");
  background-size: cover;
}
.head-content{

  padding: 50px 0px;
}

/*  sottotitolo del main title*/
 div.head-content .h1-container{
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}

h1{
  font-size: 22px;
  text-align: center;
  color: white;
}

/* creazione navbar sotto l' head-img */
div.navbar-center{
  position: relative;
  width: 1200px;
  height: 50px;
  background-color: rgb(102, 102, 102);
}

/* navbar centrale */
div.nav-items-container{
  width:80%;
  position:absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  padding-left: 30px;
}

.nav-items-container > div.box-item{
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
  color: white;
}
/* icona del box sinistro */
.icon-sx-container{
  padding: 5px 8px;
}


.icon-sx-container>.icon-img{
  width:25px;
  height: 25px;
  background-image: url("../img-milestone2/icon.png");
  border-radius: 5px;
}

/* titolo box SINISTRA */
div.icon-title-main > div.title-sx-container{
  padding-top: 5px;
  }
div.icon-title-main > div.title-sx-container > h3:first-child{
  text-align: center;
  font-weight: lighter;
  font-size: 28px;
  padding-bottom: 10px;
}

/* lista servizi box SINISTRA */

.listbox-l-container{
  padding-right: 5px;

}
.listbox-l-container > ul{
  list-style-type: none;
  padding-left: 8px;
}

.listbox-l-container > ul > li{
  padding-bottom: 10px;
  color: rgb(62, 125, 34);
  font-size: 18px;

}


/* box CENTRALE */

.container-center :first-child{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

/* posizionamento del testo nel box centrale */
.square-big{
  padding: 20px 40px;
}

.square-big>h2{
  padding-bottom: 30px;
  font-weight: lighter;
  font-size: 30px;
}

.square-big> p{
  line-height: 30px;
  font-size: 18px;
}

/* box DESTRO */

.rectangle{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px 30px;
}

/* utility dei box 1 2 e 3 del widget lato destro */
.box1,  .box2{
  padding-bottom: 40px;
}

/* posizionamento del contenuto dei box del widget */
div.rectangle > div.title-widget-container> h3:first-child{
  padding-bottom: 25px;
  font-size: 28px;
  font-weight: lighter;
}

div.rectangle > div.text-widget-container> p:first-child{
  line-height: 30px;
  font-size: 18px;
}




/* utility footer */

#footer-container{
  width:1200px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
}

.creator-container{
  border-bottom: 2px solid rgb(180, 180, 180);

  text-align: center;
}
.creator-container> span{
  font-size: 15px;
  font-style: italic;
  color: rgb(180, 180, 180);
}

/* utility logo-box */
.logo-box{
  padding:0 48px;
}

/* logo background e posizionamento */

div.logo-box> div.fb{
  width: 300px;
  height: 120px;
  background-image: url("../img-milestone2/fb-logo.jpg");
  background-position: center;
}

div.logo-box> div.ig{
  width: 300px;
  height: 120px;
  background-image: url("../img-milestone2/ig-logo.jpg");
  background-position: center;
}

div.logo-box> div.github{
  width: 300px;
  height: 120px;
  background-image: url("../img-milestone2/github-logo.jpg");
  background-position: center;
}
